@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #0f1115;
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  font-family:
    Inter,
    Roboto,
    NotoSans,
    system-ui,
    -apple-system,
    sans-serif;
}
